layout node

export PROTOCOL=http
export API_URL=localhost:3000


export NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51Ho9duJS1Z45klfkK7uM4Ml0RyCyS04krjSD3RapcpWT5fZXhgQ0yUXhl6tfaJOXDCfhlpK8kJD4fFztyeiroXDx00eBz8k4a5
